---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const user = Astro.locals.user;
---

<Layout title="Welcome back!!">
	<main>
		<h1>Welcome back <span class="text-gradient">{user?.email}</span></h1>
		{}
		<ul role="list" class="link-card-grid">
			<Card href="/api/logout" title="Logout" body="Logout now" />
		</ul>
	</main>
</Layout>
