---
const { id, open } = Astro.props;
---

<button
  class="rounded-lg border border-black bg-black px-4 py-1.5 text-sm font-medium text-white transition-all hover:bg-white hover:text-black active:bg-stone-100 dark:border-stone-700 dark:hover:border-stone-200 dark:hover:bg-black dark:hover:text-white dark:active:bg-stone-800"
  onclick={`window.${id}.showModal()`}>{open}</button
>

<dialog id={id} class="">
  <slot name="main" />
  <form method="dialog">
    <slot name="close" />
  </form>
</dialog>
