---
import { ViewTransitions } from "astro:transitions";
import DashboardNavigation from "@/components/DashboardNavigation";
const user = Astro.locals.user;
const pathname = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Platforms</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="w-full flex h-svh max-h-svh">
      <div>
        <!-- Left Bar -->
        <DashboardNavigation
          client:only="react"
          email={user!.email}
          username={user!.email}
          pathname={pathname}
        />
      </div>
      <div class="h-full flex-1">
        <!-- Main Content -->
        <div class="flex h-full flex-col justify-between overflow-y-scroll">
          <slot name="content" />
        </div>
      </div>
    </div>
  </body>
</html>
